<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingyang.webview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity android:process=":webview"
            android:name=".ui.WebViewActivity"
            android:exported="false" />
    </application>

</manifest>